@import "variables";

//Styles for body
.body{
  &_background{
    background:
            linear-gradient(
                            45deg,
                            $body_color-background-from,
                            $body_color-background-to
            );

  }
}

//Central container for all elements
.box-general{
  width: 1394px;
  padding: 0 80px;
  box-sizing: border-box;
}

//Styles for header
.header{
  &-wrapper{
    background: $header_color-white;
    height: 90px;
    border-radius: 10px 10px 0 0;
    margin-top: 135px;
  }
}


//Styles for logotype
.logo {
  &__title{
    font-family: sans-serif;;
    color: $header_color-dark;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    margin-right: 40px;
    line-height: 22px;
  }
  &__text {
    font-family: sans-serif;;
    font-size: 14px;
    display: block;
  }
  &__circle{
    background: $header_color-logo-circle;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-right: 17px;
    text-decoration: none;
    &:before {
      content: "\f041";
      font-family: FontAwesome;
      font-size: 30px;
      color: $header_color-white;
    }
  }
}


//Styles for menu
.menu {
  &__item {
    height: 80px;
    display: flex;
    align-items: center;
    margin-right: 48px;
  }
  &__text {
    font-family: sans-serif;;
    color: $header_color-gray;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    &_active{
      color: $header_color-dark;
    }
  }
}



//Styles for form
.form {
  &-wrapper{
  position: relative;
  width: 450px;
  margin-right: 40px;
  border-radius: 5px;
  background: #F7F8FD;
  }
  &__input {
    width: 400px;
    height: 40px;
    margin-left: 42px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
  }
  &__button {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
  &:after {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: $header_color-gray;
    }
  }
}
//Styles for icon-person
.icon-person{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}



