//Variables for body/
$body_color-background-from: #9266F1;
$body_color-background-to: #8E57BC;

//Variables for header
$header_color-white: #ffffff;
$header_color-gray: #9fa8b7;
$header_color-blue: #1359bb;
$header_color-logo-circle: #4485E5;
$header_color-dark: #556485;
$header_color-black: #000000;

//Variables for section
$section_color-background: #f9fafe;
$section_color-white: #ffffff;
$section_color-icon-arrow: #556485;
$section_color-info-title: #44567c;
$section_color-info-id: #6f8dd3;
$section_color-info-email: #859fda;
$section_color-info-button-copy: #e8f4ff;
$section_color-info-button-edit: #ff6364;
$section_color-info-border: #f7f7f9;
$section_color-icon-message: #43dc89;

//Variables for footer
$footer_color-text: #5b698c;
$footer_color-facebook: #85a2da;
$footer_color-twitter: #a2b8f4;
$footer_color-instagram: #a7bcf1;
$footer_color-vimeo: #a6bdf1;

//Variables for burger-menu
$burger-icon: 12px;
$burger--width-line: 20px;
$burger--height-line: 2px;
$burger--transition-time: 0.4s;
$burger--rotation: 45deg;
$burger--translateY: ($burger-icon / 2);
$burger--translateX: 0;
$burger-border_color: #d9e6f8;